<h1>Groups</h1>

<%= render 'search' %>

<% if @groups.any? %>
  <% @groups.each do |g| %>
    <h3><%= link_to g.name, group_path(g) %></h3>
    <p><%= g.description %></p>
    <hr>
  <% end %>
<% else %>
  <p> No nearby groups</p>
<% end %>
