<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-sm-offset-4 col-sm-4'>
      <% if @group.restricted? && !privileged_member? %>
        <p>This gathering won't be public until a moderator approves it.</p>
      <% end %>
      <%= render 'form' %>
    </div>
  </div>
</div>
