<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-sm-offset-2 col-sm-8'>
      <h3>Upcoming Events</h3>
      <% Event.upcoming.each do |e| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to e.name, e %></h3>
            </div>
            <div class="panel-body">
              <%= e.description %>
            </div>
          </div>
        <% end %>

        <h3>Past Events</h3>
        <% Event.past.each do |e| %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to e.name, e %></h3>
            </div>
            <div class="panel-body">
              <%= e.description %>
            </div>
          </div>
        <% end %>
 
    </div>
  </div>
</div>

