<% list_by_date.map(&:date).uniq.each do |date| %>
  <h3><%= date.to_formatted_s(:short) %></h3>
  <% listed = list_by_date.select { |happening| happening.date == date } %>
    <% listed.each do |happening| %>
      <p><%= link_to happening.name, happening %></p>
    <% end %>  
