
  <ul class="nav nav-stacked headspace" id="sidebar">
    <li>
          <p class="side_titles">
            SOMETHING
            </p>

            <%= link_to 'Root', root_path %>
            <%= link_to 'Root', root_path %>
            <%= link_to 'Root', root_path %>
            <%= link_to 'Root', root_path %>
            </li>
          </ul>
        </div>
                      
